.App {
  height: 100vh;
}

.divider-y {
  border-right: 1px solid #C4C4C4;
}

.divider-x {
  border-top: 1px solid #C4C4C4;
}

.panel {
  min-height: 634px;
}

/* Header, Footer */

.header {
  min-height: 42px;
  padding: 4px 16px;
  color: #E8E8E8;
  background: #696969;
  font-size: 24px;
  line-height: 38px;
  font-weight: normal;
}

.footer {
  min-height: 42px;
  padding: 4px 16px;
  color: #CBCACA;
  background: #696969;
  font-size: 20px;
  line-height: 31px;
  text-align: end;
}

.footer-text {
  color: #fff;
}

/* Bicycle list style */

.Available {
  border: 2px solid #6FCF97;
}

.Busy {
  border: 2px solid #F2994A;
}

.Unavailable {
  border: 2px solid #EB5757;
  opacity: 0.5;
}

.bicycle-wrap {
  position: relative;
  padding: 12px 12px 12px 18px;
  margin: 9px 9px 12px 12px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background: #E8E8E8;
}

.bicycle-info {
  width: 350px;
}

.info {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.info-name {
  font-weight: bold;
}

.info-id {
  font-size: 14px;
  line-height: 13px;
  color: #717171;
}

.status-info__wrap{
  display: flex;
  justify-content: space-between;
}

.bicycle-price{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

.btn-remove {
  padding-bottom: 15px;
  outline: none;
  background-color: #E8E8E8;
  border: none;
}

/* Form style */

.form {
  padding-bottom: 16px;
}

.form-input {
  margin: 10px;
  min-width: 240px;
  padding: 5px 10px 5px 10px;
  background: #E8E8E8;
  border-radius: 5px;
  border: none;
}

.form-textarea {
  min-width: 500px;
  min-height: 75px;
}

.form-btn__wrap {
  margin: 0 10px 0 10px;
}

.form-btn {
  min-width: 245px;
  outline: none;
  background: #696969;
  border-radius: 5px;
  color: #fff;
}

.btn-save {
  margin-right: 11px;
}

/* statistics */

.statistics {
  max-width: 500px;
  margin-left: 22px;
  padding-top: 10px;
}

.statistics-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  color: black;
}

.statistics-wrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}